<footer>

    <div id="footer-sites">

        <a href=""><p>Facebook</p></a>
        <span>|</span>
        <a href=""><p>Twitter</p></a>
        <span>|</span>
        <a href=""><p>Linkedin</p></a>

    </div>


        <div id="footer-bottom">

            <div id="footer-sonotown">

                <h7>Sonotown</h7>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga rerum iusto tenetur distinctio eveniet quo beatae in, odit deserunt, a reiciendis fug</p>

            </div>

            
            <div id="footer-categorie">

                <h8>Categories</h8>
                
                <ul class="footer-list list">
                    <li class="list-item">
                        <a href="#" class="list-link">Artistes</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Albums</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Morceaux</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Genres musicaux</a>
                    </li>
                </ul>
    
            </div>
    
            <div class="footer-liens-utiles">
                <h9>Liens utiles</h9>
                
                <ul class="footer-list list">
                    <li class="list-item">
                        <a href="#" class="list-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Auteur</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Membership</a>
                    </li>
                </ul>
    
            </div>
    
            <div id="footer-compagnie">
                <h10>Compagnie</h10>
                
                <ul class="footer-list list">
                    <li class="list-item">
                        <a href="#" class="list-link">Contactez nous</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">CGU</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Modalités d'utilisation</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Confidentialité</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-link">Politique du droit d'auteur</a>
                    </li>
                </ul>
    
            </div>

        </div>

        {# <p class="company-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iure. Harum, animi dolores, nam, ad magni expedita.</p> #}

        <span id="footer-copyright">2024 &copy; Sonotown. All rights reserved.</span>
    
</footer>