{% extends 'base.html.twig' %}

{% block title %}Album ajout{% endblock %}

{% block body %}

<section class="padding-9">


    <h1>Ajouter un titre</h1>
    
    {{ form(form) }}

</section>



{% endblock %}
