{% extends 'base.html.twig' %}

{% block title %}Discographie{% endblock %}

{% block body %}

<section class="artiste padding-9">

    {% include "artiste_page/page/_header.html.twig" %}

    <div class="artiste-album">
        
        <h1>Discographie</h1>
    
        {% if user.slug == app.user.slug %}
            <a href="{{ path('album_new', {'slug': user.slug}) }}">Ajouter un album</a><br>
        {% endif %}
        
        <div class="album-pochette">

        {% for album in albums %}
    
            <a href="{{ path('album_detail', {'slug': user.slug, 'albumId': album.id}) }}">
            <figure>
                <img style="width:100px; height:100px"   src="{{asset('uploads/images/' ~ album.imageAlbum)}}" alt="">
            </figure>
            <p>{{ album.nomAlbum }}</p>
            </a>

        {% endfor %}

        </div>

    </div>

</section>

{% endblock %}
