{% extends 'base.html.twig' %}

{% block title %}Discographie{% endblock %}

{% block body %}

<section class="artiste padding-9">

    {% include "artiste_page/page/_header.html.twig" %}

    <div class="artiste-album">

        
        <h1>Discographie</h1>
    
        <a href="{{ path('artiste_new_album') }}">Ajouter un album</a><br>
    
        <div id="album-pochette">

        {% for album in albums %}
    
            <a href="{{ path('artiste_detail_album', {'idAlbum': album.id}) }}">
            <figure>
                <img style="width:100px; height:100px"   src="{{asset('uploads/images/' ~ album.imageAlbum)}}" alt="">
            </figure>
            <p>{{ album.nomAlbum }}</p>
            </a>

        {% endfor %}

        </div>

    </div>

</section>

{% endblock %}
