{% extends 'base.html.twig' %}

{% block title %}Discographie{% endblock %}

{% block body %}

    <h1>Discographie</h1>

    <a href="{{ path('artiste_new_album') }}">Ajouter un album</a><br>

    {% for album in albums %}

        <a href="{{ path('artiste_detail_album', {'idAlbum': album.id}) }}">{{ album.nomAlbum }}</a>

    {% endfor %}

{% endblock %}
