{% extends 'base.html.twig' %}

{% block title %}Liste des concerts{% endblock %}

{% block body %}

    <h1>Liste des concerts</h1>

    {% for concert in concerts %}

        <a href="{{ path('show_concert', {'id': concert.id}) }}">{{ concert.lieu }}</a><br>
    {% endfor %}

{% endblock %}
