<section id="home-album" class="padding-6">

    <h4>Les meilleurs albums</h4>


    <div id="album-content-text">

        <div id="home-album-content">
    
            {# Container caroussel #}
            <div class="container">

                {% for album in albums %}
                <div class="slides">
                
                        <figure>
                            <a href=""><img  src="{{asset('uploads/images/' ~ album.imageAlbum)}}" alt=""></a>
                        </figure>
                    </div>
                    
                    {% endfor %}
            </div>
            
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

         </div>   
    
        <div id="home-album-text">
        
            <h5>Derniers albums</h5>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ab fuga aliquid et quia at doloribus culpa neque quam nulla</p>
        
        </div>

    </div>

</section>