{% extends 'base.html.twig' %}

{% block title %}Liste des concerts{% endblock %}

{% block body %}


<div class="artiste-container padding">

    {% include "artiste_page/page/_header.html.twig" %}

    <h1>Liste des concerts</h1>

    <a href="{{ path('new_concert')}}">Ajouter un concert</a><br>

    {% for concert in concerts %}

        <a href="{{ path('detail_concert', {'idConcert': concert.id}) }}">{{ concert.lieu }}</a><br>

    {% endfor %}
</div>
{% endblock %}
