{% extends 'base.html.twig' %}

{% block title %}Liste des concerts{% endblock %}

{% block body %}


<section class="artiste padding-9">

    {% include "artiste_page/page/_header.html.twig" %}

    <div class="artiste-concert">
        <h1>Liste des concerts</h1>


    <a href="{{ path('new_concert', {'slug': user.slug })}}">Ajouter un concert</a><br>

    {% for concert in user.concerts %}

        <a href="{{ path('detail_concert', {'slug': user.slug, 'id': concert.id}) }}">{{ concert.lieu }}</a><br>

    {% endfor %}
    </div>
</section>

{% endblock %}
