<section class="user-header padding-9">

        <div class="user-avatar">

                <a href="{{ path('user_profil_edit', {'id': app.user.id}) }}">Éditer le profil</a>

                <figure class="user-avatar">
                        <img src="{{asset('uploads/avatar/mini/300x300-' ~ user.avatar)}}" alt="">
                </figure>

                <h1>{{ user.pseudo }}</h1>

        </div>

        <a href="">Albums</a>

        <a href="{{ path('user_playlist', {'userId': user.id}) }}">Playlists</a>

        <a href="">Concerts</a>

        <a href="">Followers</a>

</section>