{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    <div class="container">

        <a href="{{ path('user_profil_edit', {'id': app.user.id}) }}">Éditer le profil</a>
        
        <h1>Profil utilisateur</h1>
        
        Nom utilisateur : {{ user.pseudo }}

    </div>

{% endblock %}
