{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}


<h1>Profil artiste</h1>

    Nom artiste : {{ user.nomArtiste }}

{# <a href="{{ path('page_artiste')}}"></a> #}

{% endblock %}
