*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Html */

html{
    scroll-behavior: smooth;
}

h1{
    color: rgb(170, 170, 235);
}

a{
    text-decoration: none;
    color: inherit;
}


/* Nav */

nav{
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center; 
    width: 100%;
    height: 7vh;
    z-index: 4;
    background: rgb(200, 202, 195) ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    width: 100%;
}

nav a{
    color: black;
    font-size: 20px;
}

/* Burger profil param */
    .hamburger{
      display: block;
    }
  
    .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #262626;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .nav-menu.active{
      left: 0;
    }
  /* Container */

/* Définition des styles */
.container {
    padding: 6em;
}

/* #home-hero {
    padding: 6em;
} */



/* Home */


/* Home padding */

.home-padding{
    padding: 6em;
}

#home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*  Background home video */

#home-hero{
    width: 100%;
    height: 93vh;
    background-image: linear-gradient(rgba(200, 202, 195, 0.3), rgba(200, 202, 195, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

#home-hero h1{
    font-size: 120px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

#home-hero h1:hover{
    -webkit-text-stroke: 2px #fff;
    font-size: 120px;
    color: transparent;
    font-weight: 600;
}

#home-hero a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 40px;
    margin-top: 20px;
    padding: 10px 15px;
    transition: 0.5s;
}

#home-hero a:hover{
    background:rgba(0, 0, 0, 0.5);
    color: #cdcdcd;
}

#home-hero p{
    color: #fff;
    font-size: 17px;
}

#back-video{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    #back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #back-video{
        width: auto;
        height: 100%;
    }
}

/* Home artistes */

#home-artistes{
    width: 100%;
    height: 60vh;
    padding: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#home-artistes h2, #home-albums h3, #home-infos h5{
    text-align: center;
}

#home-artistes-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#artistes-card{
    height: 250px;
    width: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: rgb(230, 230, 230) solid 0.1em;
}

#card-image{
    height: 70%;
    position: relative;
    top: 0px;
    right: 0px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1; 
}

#card-image img{
    z-index: 2;
    position: relative;
    transition: 0.2 ease-in-out;

}

#card-image img:hover{
    background: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.5;
    z-index: 3;
    cursor: pointer;
    position: relative;
    transition: opacity 0.3s ease;
}

#card-image:hover {
    background: rgba(0, 0, 0, 0.6); 
}


#card-image:hover img {
    opacity: 0.5; 
}


#card-image h3 {
    position: absolute;
    bottom: 0;
    top: 80%;
    left: 0;
    right: 0;
    z-index: 5;
    text-align: center;

}

#card-separation{
    height: 0.1em;
    width: 100%;
    background: rgb(230, 230, 230);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#card-header{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


.card-ligne{
    display: flex;
    justify-content: space-between;
}

/* Home albums */

#home-albums{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#home-albums-content{
    display: flex;
    height: 100%;
    gap: 30px;
}

#home-albums-text{

}

/* Slider */



.carousel img {
    height: 500px;
    object-fit: cover;
    width: 500px;
}
  
.carousel {
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
height: 500px;
overflow: hidden;
width: 500px;
}

#left, #right{
    height: 50px;
    width: 50px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(91, 91, 91, 0.3);
    color: #fff;
}

.btn-slider{
    position: relative;
    /* top: 250px; */
    width: 20px;
}

#left{
    position: relative;
    left: 50px;
    top: 225px;
    z-index: 5; 
}

#right{
    position: relative;
    right: 50px;
    top: 225px;
    z-index: 5; 
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
  
.btn {
    background-color: #C8CAC3;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0.8rem;
    width: 49.5%;
}

.btn img{
    color: #BDB7A7;

}
  
.btn:hover {
    opacity: 0.9;
}
  
/* Home album text */

#home-albums-text{
    width: 50%;
}


/* Home infos */

#home-infos{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 6em 6em 0 6em;
}

#home-infos-container{
    width: 100%;
    display: flex;
    gap: 50px;
    padding-bottom: 6em;
}

#home-infos h6, #home-albums h4, #home-artistes h2{
    color: rgb(107 107 107);
    font-size: 35px;
}

#home-infos-container figure{
    width: 100%;
    margin-bottom: 0px;
}

#home-infos-container img{
    width: 100%;
}

#home-infos-text{
    width: 50%;
    height: auto;
}

#home-albums-text h5{
    font-size: 25px;
    color: #A8906F;
}

/* Page artiste Profil */

.artiste-container{
    display: flex;
    width: 100%; 
    padding: 20px 30px 0px 30px;
}

.artiste-album{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

.artiste-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}


/* Page artiste Détail album */

.artiste-Albums{
    display: flex;
    width: 70%;
    gap: 20px;
}
.artiste-album-pistes{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.artiste-titre{
    display: flex;
    justify-content: space-between;
}

.artiste-titre div span:last-child{
    padding-left: 10px;
}

/* Page artiste Post */


.artiste-post{
    display: flex;
    flex-direction: column;
}


/* Page artiste Détail Concerts */


.artiste-concert-container{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.artiste-concert-ligne{

    display: flex;
    justify-content: column;
    gap: 20px;
}


/* Genre Musical Page Ajout/modification */

.genreMusical-container{
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 20px 30px 0px 30px;
}

.genreMusical-header{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.genreMusical-main{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.genreMusical-ligne{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}