{% extends 'base.html.twig' %}

{% block title %}Liste des artistes{% endblock %}

{% block body %}


    <h1>Artiste</h1>

    {{ user.nomArtiste }}
    {# {% for user in users %}
        <a href="{{ path('show_artiste', {'id': user.id}) }}">{{ user.pseudo}}</a>
    {% endfor %} #}



{% endblock %}
