
<div class="artiste-header">

    <h1>{{ user.pseudo}}</h1>

    <p>{{ user.biographie}}</p>

    <figure>
        <img style="width:100px; height:100px"   src="{{asset('uploads/images/' ~ user.avatar)}}" alt="">
    </figure>
</div>