{% extends 'base.html.twig' %}

{% block title %}Page de l'artiste{% endblock %}

{% block body %}





    {% include "artiste_page/page/artiste_page_header.html.twig" %}


    {# <div class="artiste-avis">
      
      <h4>Avis</h4> #}
{# 
      {% for commentaire in user.commentaires %}

      <p>{{ commentaire.message }}</p>

      {% endblock %} #}

    {# </div> #}


{% endblock %}
