{% extends 'base.html.twig' %}

{% block title %}Page de l'artiste{% endblock %}

{% block body %}


<div class="artiste-container padding-2">

  {% include "artiste_page/page/_header.html.twig" %}

  <div class="artiste-main">
      
    <div class="artiste-liens">
    <div class="artiste-album">
    </div>
    <div class="artiste-concert">
    </div>
    </div>
    
    <div id="artiste-biographie">

    </div>

</div>

{% endblock %}
