{% extends 'base.html.twig' %}

{% block title %}Page de l'artiste{% endblock %}

{% block body %}

{% if is_granted('ROLE_ARTISTE') %}
<a href="{{ path('artiste_page_edit', {'id': app.user.id}) }}">Éditer le profil artiste</a>
  
{% endif %}

<div class="artiste-container">

  <figure>
    <img style="width:100px; height:100px"   src="{{asset('uploads/images/' ~ user.imageCouverture)}}" alt="">
</figure>

  <h1>Page de l'artiste</h1>

      <div class="artiste-album">
        
        <h2>Discographie artiste</h2>

        <a href="{{ path('artiste_all_album_per_artiste', {'idArtiste': user.id}) }}">Discographie</a>

      </div>

      <div class="artiste-concert">

      <h3>Concerts</h3>
      
      <a href="{{ path('all_concert_per_artiste', {'id': user.id}) }}">Voir concert</a><br>

      </div>

      <div class="artiste-post">

      <h4>Avis</h4>



      </div>

      {% include "artiste_page/page/artiste_page_header.html.twig" %}


</div>

{% endblock %}
