{% extends 'base.html.twig' %}

{% block title %}Page de l'artiste{% endblock %}

{% block body %}


<section class="artiste padding-9">

  {% include "artiste_page/page/_header.html.twig" %}

  <div class="artiste-main">
      
    <div class="artiste-commentaire">

      {# {{ form(form) }} #}
    </div>

  </section>

{% endblock %}
