{% extends 'base.html.twig' %}

{% block title %}Genre Musical{% endblock %}

{% block body %}

    {% if edit %}

        <h1>Editer</h1>

    {% else %}

        <h1>Ajouter un nouveau genre musical</h1>

    {% endif %}

        {{ form(form) }}

{% endblock %}
