{% extends 'base.html.twig' %}

{% block title %}Page utilisateurs{% endblock %}

{% block body %}


<a href="{{ path('edit_profil', {'id': app.user.id}) }}">Éditer le profil</a>

<h1>Profil utilisateur</h1>


{{ user.pseudo }}




{% endblock %}
