{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('edit_profil', {'id': app.user.id}) }}">Éditer le profil</a>
    {% endif %}



<h1>Profil utilisateur</h1>


{{ user.pseudo }}


{% endblock %}
