{% extends 'base.html.twig' %}

{% block title %}Page administrateur{% endblock %}

{% block body %}

<section class="padding-9">

        <h1>Page administrateur</h1>

        <a href="{{ path('admin_utilisateurs')}}">Utilisateurs</a>
        <a href="{{ path('admin_genre_musical')}}">Genres musicaux</a>
        <a href="{{ path('admin_reseau')}}">Reseau</a>

</section>


{% endblock %}
