{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}

<section class="padding-9">

        <h1>Liste des Utilisateurs</h1>

        {% for user in users %}

            {{ user.pseudo }}
            
        {% endfor %}
</section>
{% endblock %}
