{% extends 'base.html.twig' %}

{% block title %}Liste des concerts{% endblock %}

{% block body %}

    <h1>Détail concert</h1>

    <a href="{{ path('edit_concert', {'id': concert.id}) }}">Editer concert</a>


    {{ concert.lieu }} <br>
    {{ concert.descriptionConcert }} <br>


    {% for imageConcert in concert.imageConcerts %}

        <img src="{{ asset('uploads/Concerts/mini/300x300-') ~ imageConcert.nomImage }}">
        
    {% endfor %}


          


{% endblock %}
