{% extends 'base.html.twig' %}

{% block title %}Discographie{% endblock %}

{% block body %}

    <h1>Liste des albums</h1>


    {% for album in albums %}

        <a href="{{ path('artiste_detail_album', {'idAlbum': album.id}) }}">{{ album.nomAlbum }}</a>

    {% endfor %}

{% endblock %}
