{% extends 'base.html.twig' %}

{% block title %}Liste des albums{% endblock %}

{% block body %}

    <h1>Liste des albums</h1>

    <a href="{{ path('artiste_new_album') }}">Ajouter un album</a>

    {% for album in albums %}

        <a href="{{ path('artiste_show_album', {'id': album.id}) }}">{{ album.nomAlbum }}</a>

    {% endfor %}



{% endblock %}
